In [1]:
import pandas as pd
import datetime as dt

In [5]:
dt.date(2023, 6, 9)

datetime.date(2023, 6, 9)

In [6]:
theday = dt.date(2023, 6, 9)

In [7]:
theday.year

2023

In [8]:
theday.month

6

In [9]:
theday.day

9

In [10]:
dt.datetime(2023, 6, 9, 22, 30, 15)

datetime.datetime(2023, 6, 9, 22, 30, 15)

In [11]:
str(dt.datetime(2023, 6, 9, 22, 30, 15))  #conveting into more readable usting str

'2023-06-09 22:30:15'

In [12]:
exactmoment = dt.datetime(2023, 6, 9, 22, 30, 15)

In [13]:
exactmoment.year

2023

In [14]:
exactmoment.month

6

In [15]:
exactmoment.day

9

In [16]:
exactmoment.hour

22

In [17]:
exactmoment.minute

30

In [18]:
exactmoment.second

15

# The pandas Timestamp Object

In [19]:
import pandas as pd
import datetime as dt

In [20]:
pd.Timestamp("2023-06-09")

Timestamp('2023-06-09 00:00:00')

In [21]:
pd.Timestamp("2023/06/09")

Timestamp('2023-06-09 00:00:00')

In [22]:
pd.Timestamp("2023,06,09")

Timestamp('2023-09-01 00:00:00')

In [23]:
pd.Timestamp("09/06/2023")

Timestamp('2023-09-06 00:00:00')

In [24]:
pd.Timestamp("2023-06-09 10:30:15 PM")

Timestamp('2023-06-09 22:30:15')

In [25]:
pd.Timestamp(dt.date(2023, 6, 9))

Timestamp('2023-06-09 00:00:00')

In [26]:
pd.Timestamp(dt.date(2023, 6, 9, 22, 30, 15))

TypeError: function takes at most 3 arguments (6 given)

# The pandas DateTimeIndex Object

In [27]:
import pandas as pd
import datetime as dt

In [29]:
dates = ["2023-09-06", "1978-11-16", "1978-11-14"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2023-09-06', '1978-11-16', '1978-11-14'], dtype='datetime64[ns]', freq=None)

In [31]:
dates = [dt.date(2023, 9, 6), dt.date(1978, 11, 16), dt.date(1978, 11, 14)]
pd.DatetimeIndex(dates)

DatetimeIndex(['2023-09-06', '1978-11-16', '1978-11-14'], dtype='datetime64[ns]', freq=None)

In [34]:
dates = [dt.date(2023, 9, 6), dt.date(1978, 11, 16), dt.date(1978, 11, 14)]
dtIndex = pd.DatetimeIndex(dates)

In [35]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2023-09-06    100
1978-11-16    200
1978-11-14    300
dtype: int64

In [36]:
dates = [dt.date(2023, 9, 6), dt.date(1978, 11, 16), dt.date(1978, 11, 14)]
dtIndex = pd.DatetimeIndex(dates)
values = ["Carlos Tomás", "María", "Carlos"]
pd.Series(data = values, index = dtIndex)

2023-09-06    Carlos Tomás
1978-11-16           María
1978-11-14          Carlos
dtype: object

# The pd.to_datetime Method

In [37]:
import pandas as pd
import datetime as dt

In [38]:
pd.to_datetime("2023-06-09")

Timestamp('2023-06-09 00:00:00')

In [39]:
pd.to_datetime(dt.date(2023, 9, 6))

Timestamp('2023-09-06 00:00:00')

In [41]:
pd.to_datetime(dt.datetime(2023, 9, 6, 22, 30, 15))

Timestamp('2023-09-06 22:30:15')

In [42]:
pd.to_datetime(["2023-06-09", "1978/11/16", "November 14th, 1978"])

DatetimeIndex(['2023-06-09', '1978-11-16', '1978-11-14'], dtype='datetime64[ns]', freq=None)

In [44]:
times = pd.Series(["2023-06-09", "1978/11/16", "November 14th, 1978"])
times

0             2023-06-09
1             1978/11/16
2    November 14th, 1978
dtype: object

In [45]:
pd.to_datetime(times)

0   2023-06-09
1   1978-11-16
2   1978-11-14
dtype: datetime64[ns]

In [47]:
pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [48]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [49]:
pd.to_datetime(dates, errors = "coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [51]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit = "s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

# Create Range of Dates with the pd.date_range() Method

In [52]:
import pandas as pd
import datetime as dt

In [53]:
pd.date_range(start = "1978-11-04", end = "1978-11-16", freq = "D")

DatetimeIndex(['1978-11-04', '1978-11-05', '1978-11-06', '1978-11-07',
               '1978-11-08', '1978-11-09', '1978-11-10', '1978-11-11',
               '1978-11-12', '1978-11-13', '1978-11-14', '1978-11-15',
               '1978-11-16'],
              dtype='datetime64[ns]', freq='D')

In [55]:
times = pd.date_range(start = "1978-11-04", end = "1978-11-16", freq = "D")

In [56]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [57]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [58]:
pd.date_range(start = "1978-11-04", end = "1978-11-16", freq = "D")

DatetimeIndex(['1978-11-04', '1978-11-05', '1978-11-06', '1978-11-07',
               '1978-11-08', '1978-11-09', '1978-11-10', '1978-11-11',
               '1978-11-12', '1978-11-13', '1978-11-14', '1978-11-15',
               '1978-11-16'],
              dtype='datetime64[ns]', freq='D')

In [59]:
pd.date_range(start = "1978-11-04", end = "1978-11-16", freq = "B") #B = Bussiness days

DatetimeIndex(['1978-11-06', '1978-11-07', '1978-11-08', '1978-11-09',
               '1978-11-10', '1978-11-13', '1978-11-14', '1978-11-15',
               '1978-11-16'],
              dtype='datetime64[ns]', freq='B')

In [60]:
pd.date_range(start = "1978-11-04", end = "1978-11-16", freq = "W") #W = Week

DatetimeIndex(['1978-11-05', '1978-11-12'], dtype='datetime64[ns]', freq='W-SUN')

In [61]:
pd.date_range(start = "1978-11-04", end = "1978-11-16", freq = "W-FRI") #Week begining on Friday

DatetimeIndex(['1978-11-10'], dtype='datetime64[ns]', freq='W-FRI')

In [62]:
pd.date_range(start = "1978-11-04", end = "1978-11-16", freq = "H") #H = hour

DatetimeIndex(['1978-11-04 00:00:00', '1978-11-04 01:00:00',
               '1978-11-04 02:00:00', '1978-11-04 03:00:00',
               '1978-11-04 04:00:00', '1978-11-04 05:00:00',
               '1978-11-04 06:00:00', '1978-11-04 07:00:00',
               '1978-11-04 08:00:00', '1978-11-04 09:00:00',
               ...
               '1978-11-15 15:00:00', '1978-11-15 16:00:00',
               '1978-11-15 17:00:00', '1978-11-15 18:00:00',
               '1978-11-15 19:00:00', '1978-11-15 20:00:00',
               '1978-11-15 21:00:00', '1978-11-15 22:00:00',
               '1978-11-15 23:00:00', '1978-11-16 00:00:00'],
              dtype='datetime64[ns]', length=289, freq='H')

In [63]:
pd.date_range(start = "1978-11-04", end = "1978-11-16", freq = "6H")

DatetimeIndex(['1978-11-04 00:00:00', '1978-11-04 06:00:00',
               '1978-11-04 12:00:00', '1978-11-04 18:00:00',
               '1978-11-05 00:00:00', '1978-11-05 06:00:00',
               '1978-11-05 12:00:00', '1978-11-05 18:00:00',
               '1978-11-06 00:00:00', '1978-11-06 06:00:00',
               '1978-11-06 12:00:00', '1978-11-06 18:00:00',
               '1978-11-07 00:00:00', '1978-11-07 06:00:00',
               '1978-11-07 12:00:00', '1978-11-07 18:00:00',
               '1978-11-08 00:00:00', '1978-11-08 06:00:00',
               '1978-11-08 12:00:00', '1978-11-08 18:00:00',
               '1978-11-09 00:00:00', '1978-11-09 06:00:00',
               '1978-11-09 12:00:00', '1978-11-09 18:00:00',
               '1978-11-10 00:00:00', '1978-11-10 06:00:00',
               '1978-11-10 12:00:00', '1978-11-10 18:00:00',
               '1978-11-11 00:00:00', '1978-11-11 06:00:00',
               '1978-11-11 12:00:00', '1978-11-11 18:00:00',
               '1978-11-12 00:00:00', '1978-11-12 06:00:00',
               '1978-11-12 12:00:00', '1978-11-12 18:00:00',
               '1978-11-13 00:00:00', '1978-11-13 06:00:00',
               '1978-11-13 12:00:00', '1978-11-13 18:00:00',
               '1978-11-14 00:00:00', '1978-11-14 06:00:00',
               '1978-11-14 12:00:00', '1978-11-14 18:00:00',
               '1978-11-15 00:00:00', '1978-11-15 06:00:00',
               '1978-11-15 12:00:00', '1978-11-15 18:00:00',
               '1978-11-16 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [65]:
pd.date_range(start = "1978-11-01", end = "1978-12-16", freq = "M") #M = month

DatetimeIndex(['1978-11-30'], dtype='datetime64[ns]', freq='M')

In [66]:
pd.date_range(start = "1978-11-01", end = "2023-11-01", freq = "A") #A = year

DatetimeIndex(['1978-12-31', '1979-12-31', '1980-12-31', '1981-12-31',
               '1982-12-31', '1983-12-31', '1984-12-31', '1985-12-31',
               '1986-12-31', '1987-12-31', '1988-12-31', '1989-12-31',
               '1990-12-31', '1991-12-31', '1992-12-31', '1993-12-31',
               '1994-12-31', '1995-12-31', '1996-12-31', '1997-12-31',
               '1998-12-31', '1999-12-31', '2000-12-31', '2001-12-31',
               '2002-12-31', '2003-12-31', '2004-12-31', '2005-12-31',
               '2006-12-31', '2007-12-31', '2008-12-31', '2009-12-31',
               '2010-12-31', '2011-12-31', '2012-12-31', '2013-12-31',
               '2014-12-31', '2015-12-31', '2016-12-31', '2017-12-31',
               '2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31',
               '2022-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [67]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "D")

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [68]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "B")

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

In [69]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "W")

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [1]:
import pandas as pd
import datetime as dt

In [2]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "D")

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [3]:
pd.date_range(end = "1999-12-31", periods = 40, freq = "B")

DatetimeIndex(['1999-11-08', '1999-11-09', '1999-11-10', '1999-11-11',
               '1999-11-12', '1999-11-15', '1999-11-16', '1999-11-17',
               '1999-11-18', '1999-11-19', '1999-11-22', '1999-11-23',
               '1999-11-24', '1999-11-25', '1999-11-26', '1999-11-29',
               '1999-11-30', '1999-12-01', '1999-12-02', '1999-12-03',
               '1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [4]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "W-SUN")

DatetimeIndex(['1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [5]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "M")

DatetimeIndex(['1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31',
               '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30',
               '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31',
               '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='M')

In [6]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "MS")

DatetimeIndex(['1998-05-01', '1998-06-01', '1998-07-01', '1998-08-01',
               '1998-09-01', '1998-10-01', '1998-11-01', '1998-12-01',
               '1999-01-01', '1999-02-01', '1999-03-01', '1999-04-01',
               '1999-05-01', '1999-06-01', '1999-07-01', '1999-08-01',
               '1999-09-01', '1999-10-01', '1999-11-01', '1999-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [7]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "7H")

DatetimeIndex(['1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

# The .dt Accessor

In [8]:
import pandas as pd
import datetime as dt

In [9]:
pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2010-05-20', '2010-06-13', '2010-07-07', '2010-07-31',
               '2010-08-24', '2010-09-17', '2010-10-11', '2010-11-04',
               '2010-11-28', '2010-12-22'],
              dtype='datetime64[ns]', length=168, freq='24D')

In [10]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [11]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [12]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [28]:
s.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [13]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [15]:
s.dt.weekday

0      5
1      1
2      4
3      0
4      3
      ..
163    4
164    0
165    3
166    6
167    2
Length: 168, dtype: int64

In [24]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [29]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

# Import Financial Dataset with pandas_datareader Library

In [3]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [5]:
data.DataReader(name ="MSFT", data_source ="stooq", start = "2010-01-01", end = "2020-12-31")

                Open      High       Low     Close        Volume
Date
2020-12-31  217.8220  219.1040  215.8380  218.5280  2.131555e+07
2020-12-30  221.2770  221.6740  217.5950  217.8020  2.063381e+07
2020-12-29  222.3500  223.2140  219.6590  220.2050  1.771353e+07
2020-12-28  220.5040  222.0710  219.1230  221.0100  1.825327e+07
2020-12-24  217.5450  219.6890  217.3260  218.8550  1.073870e+07
...              ...       ...       ...       ...           ...
2010-01-08   23.7837   24.2642   23.7608   24.0934  6.515561e+07
2010-01-07   24.0537   24.1232   23.7221   23.9257  6.434577e+07
2010-01-06   24.2642   24.4230   23.9852   24.1758  7.403254e+07
2010-01-05   24.2542   24.4389   24.0765   24.3267  6.331174e+07
2010-01-04   24.0854   24.4389   24.0358   24.3178  4.886916e+07

[2769 rows x 5 columns]

In [6]:
stocks = data.DataReader(name ="MSFT", data_source ="stooq", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07

In [7]:
stocks.values

array([[2.17822000e+02, 2.19104000e+02, 2.15838000e+02, 2.18528000e+02,
        2.13155521e+07],
       [2.21277000e+02, 2.21674000e+02, 2.17595000e+02, 2.17802000e+02,
        2.06338130e+07],
       [2.22350000e+02, 2.23214000e+02, 2.19659000e+02, 2.20205000e+02,
        1.77135297e+07],
       ...,
       [2.42642000e+01, 2.44230000e+01, 2.39852000e+01, 2.41758000e+01,
        7.40325385e+07],
       [2.42542000e+01, 2.44389000e+01, 2.40765000e+01, 2.43267000e+01,
        6.33117379e+07],
       [2.40854000e+01, 2.44389000e+01, 2.40358000e+01, 2.43178000e+01,
        4.88691616e+07]])

In [9]:
stocks.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [10]:
stocks.index

DatetimeIndex(['2020-12-31', '2020-12-30', '2020-12-29', '2020-12-28',
               '2020-12-24', '2020-12-23', '2020-12-22', '2020-12-21',
               '2020-12-18', '2020-12-17',
               ...
               '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
               '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
               '2010-01-05', '2010-01-04'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [11]:
stocks.axes

[DatetimeIndex(['2020-12-31', '2020-12-30', '2020-12-29', '2020-12-28',
                '2020-12-24', '2020-12-23', '2020-12-22', '2020-12-21',
                '2020-12-18', '2020-12-17',
                ...
                '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
                '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
                '2010-01-05', '2010-01-04'],
               dtype='datetime64[ns]', name='Date', length=2769, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')]

# Selecting Rows from a DataFrame with a DateTimeIndex

In [ ]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [12]:
stocks = data.DataReader(name ="MSFT", data_source ="stooq", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07

In [13]:
stocks.loc["2010-01-04"]

Open      2.408540e+01
High      2.443890e+01
Low       2.403580e+01
Close     2.431780e+01
Volume    4.886916e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [14]:
stocks.loc[pd.Timestamp("2010-01-04")]

Open      2.408540e+01
High      2.443890e+01
Low       2.403580e+01
Close     2.431780e+01
Volume    4.886916e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [17]:
stocks.iloc[0]

Open      2.178220e+02
High      2.191040e+02
Low       2.158380e+02
Close     2.185280e+02
Volume    2.131555e+07
Name: 2020-12-31 00:00:00, dtype: float64

In [18]:
stocks.iloc[550]

Open      1.033970e+02
High      1.034760e+02
Low       9.690580e+01
Close     9.761060e+01
Volume    6.698606e+07
Name: 2018-10-24 00:00:00, dtype: float64

In [19]:
stocks.iloc[-1]    #The last line

Open      2.408540e+01
High      2.443890e+01
Low       2.403580e+01
Close     2.431780e+01
Volume    4.886916e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [21]:
stocks.loc[[pd.Timestamp("2010-01-04"), pd.Timestamp("2010-01-05")]]

               Open     High      Low    Close        Volume
Date
2010-01-04  24.0854  24.4389  24.0358  24.3178  4.886916e+07
2010-01-05  24.2542  24.4389  24.0765  24.3267  6.331174e+07

In [22]:
stocks.iloc[[10, 15, 30]]

               Open     High      Low    Close        Volume
Date
2020-12-16  210.992  216.245  210.962  215.440  3.564775e+07
2020-12-09  211.399  211.459  207.517  208.094  3.299802e+07
2020-11-17  211.756  213.316  209.771  210.149  2.464917e+07

In [23]:
stocks.loc["2013-10-01":"2013-10-07"]

               Open     High      Low    Close        Volume
Date
2013-10-07  28.3306  28.4209  27.9940  28.0754  4.159240e+07
2013-10-04  28.4059  28.6601  28.3484  28.5668  3.913007e+07
2013-10-03  28.5668  28.6661  28.1747  28.5489  4.590812e+07
2013-10-02  28.1260  28.6928  28.0665  28.5976  5.566476e+07
2013-10-01  28.1102  28.3395  28.0754  28.3106  4.352740e+07

In [24]:
stocks.truncate(before = "2013-10-01", after ="2013-10-07")

               Open     High      Low    Close        Volume
Date
2013-10-07  28.3306  28.4209  27.9940  28.0754  4.159240e+07
2013-10-04  28.4059  28.6601  28.3484  28.5668  3.913007e+07
2013-10-03  28.5668  28.6661  28.1747  28.5489  4.590812e+07
2013-10-02  28.1260  28.6928  28.0665  28.5976  5.566476e+07
2013-10-01  28.1102  28.3395  28.0754  28.3106  4.352740e+07

In [25]:
stocks.iloc[1000:1005]

               Open     High      Low    Close        Volume
Date
2017-01-11  57.6727  58.2436  57.5069  58.2079  2.218117e+07
2017-01-10  57.7830  58.0976  57.3689  57.6816  1.849459e+07
2017-01-09  57.8097  58.1075  57.6073  57.7015  2.018532e+07
2017-01-06  57.3868  58.1701  57.1456  57.8842  1.907929e+07
2017-01-05  57.2856  57.7193  57.1357  57.3868  2.318354e+07

In [26]:
pd.date_range(start = "1978-11-14", end = "2023-09-06", freq = pd.DateOffset(years = 1))

DatetimeIndex(['1978-11-14', '1979-11-14', '1980-11-14', '1981-11-14',
               '1982-11-14', '1983-11-14', '1984-11-14', '1985-11-14',
               '1986-11-14', '1987-11-14', '1988-11-14', '1989-11-14',
               '1990-11-14', '1991-11-14', '1992-11-14', '1993-11-14',
               '1994-11-14', '1995-11-14', '1996-11-14', '1997-11-14',
               '1998-11-14', '1999-11-14', '2000-11-14', '2001-11-14',
               '2002-11-14', '2003-11-14', '2004-11-14', '2005-11-14',
               '2006-11-14', '2007-11-14', '2008-11-14', '2009-11-14',
               '2010-11-14', '2011-11-14', '2012-11-14', '2013-11-14',
               '2014-11-14', '2015-11-14', '2016-11-14', '2017-11-14',
               '2018-11-14', '2019-11-14', '2020-11-14', '2021-11-14',
               '2022-11-14'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [27]:
birthdays = pd.date_range(start = "1978-11-14", end = "2023-09-06", freq = pd.DateOffset(years = 1))

In [28]:
stocks.index.isin(birthdays)

array([False, False, False, ..., False, False, False])

In [29]:
birthday_stocks = stocks.index.isin(birthdays)

In [31]:
stocks[birthday_stocks]

                Open      High       Low     Close        Volume
Date
2019-11-14  142.4430  143.7920  142.4230  143.4550  2.038951e+07
2018-11-14  103.5460  103.7040  100.1010  100.5380  4.122592e+07
2017-11-14   78.2419   78.8028   77.7504   78.7562  2.002665e+07
2016-11-14   54.0015   54.0581   52.4110   53.1764  4.516936e+07
2014-11-14   43.1406   43.3997   42.8378   43.0007  3.353072e+07
2013-11-14   31.9691   32.1478   31.8033   32.0575  5.477972e+07
2012-11-14   22.4593   22.5010   22.0940   22.1317  9.227941e+07
2011-11-14   21.3851   21.4904   21.2095   21.2979  4.292899e+07

In [33]:
stocks.loc[birthday_stocks]

                Open      High       Low     Close        Volume
Date
2019-11-14  142.4430  143.7920  142.4230  143.4550  2.038951e+07
2018-11-14  103.5460  103.7040  100.1010  100.5380  4.122592e+07
2017-11-14   78.2419   78.8028   77.7504   78.7562  2.002665e+07
2016-11-14   54.0015   54.0581   52.4110   53.1764  4.516936e+07
2014-11-14   43.1406   43.3997   42.8378   43.0007  3.353072e+07
2013-11-14   31.9691   32.1478   31.8033   32.0575  5.477972e+07
2012-11-14   22.4593   22.5010   22.0940   22.1317  9.227941e+07
2011-11-14   21.3851   21.4904   21.2095   21.2979  4.292899e+07

# Timestamp Object Attributes and Methods

In [35]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [36]:
stocks = data.DataReader(name ="MSFT", data_source ="stooq", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07

In [37]:
stocks.index

DatetimeIndex(['2020-12-31', '2020-12-30', '2020-12-29', '2020-12-28',
               '2020-12-24', '2020-12-23', '2020-12-22', '2020-12-21',
               '2020-12-18', '2020-12-17',
               ...
               '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
               '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
               '2010-01-05', '2010-01-04'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [39]:
someday = stocks.index[500]
someday

Timestamp('2019-01-08 00:00:00')

In [40]:
someday.month

1

In [41]:
someday.week

2

In [43]:
someday.is_month_start

False

In [44]:
someday.is_month_end

False

In [45]:
someday.is_quarter_start

False

In [46]:
someday.is_quarter_end

False

In [47]:
someday.day

8

In [48]:
someday.month_name()

'January'

In [49]:
stocks.index.day_name()

Index(['Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Thursday', 'Wednesday',
       'Tuesday', 'Monday', 'Friday', 'Thursday',
       ...
       'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Friday',
       'Thursday', 'Wednesday', 'Tuesday', 'Monday'],
      dtype='object', name='Date', length=2769)

In [52]:
stocks.insert(0, "Days of Week", stocks.index.day_name())
stocks

,Days of Week,Day of Week,Open,High,Low,Close,Volume
Date,,,,,,,
2020-12-31,Thursday,Thursday,217.8220,219.1040,215.8380,218.5280,2.131555e+07
2020-12-30,Wednesday,Wednesday,221.2770,221.6740,217.5950,217.8020,2.063381e+07
2020-12-29,Tuesday,Tuesday,222.3500,223.2140,219.6590,220.2050,1.771353e+07
2020-12-28,Monday,Monday,220.5040,222.0710,219.1230,221.0100,1.825327e+07
2020-12-24,Thursday,Thursday,217.5450,219.6890,217.3260,218.8550,1.073870e+07
...,...,...,...,...,...,...,...
2010-01-08,Friday,Friday,23.7837,24.2642,23.7608,24.0934,6.515561e+07
2010-01-07,Thursday,Thursday,24.0537,24.1232,23.7221,23.9257,6.434577e+07
2010-01-06,Wednesday,Wednesday,24.2642,24.4230,23.9852,24.1758,7.403254e+07
2010-01-05,Tuesday,Tuesday,24.2542,24.4389,24.0765,24.3267,6.331174e+07
2010-01-04,Monday,Monday,24.0854,24.4389,24.0358,24.3178,4.886916e+07

In [53]:
stocks.index.is_month_start

array([False, False, False, ..., False, False, False])

In [54]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)
stocks

,Days of Week,Is Start of Month,Day of Week,Open,High,Low,Close,Volume
Date,,,,,,,,
2020-12-31,Thursday,False,Thursday,217.8220,219.1040,215.8380,218.5280,2.131555e+07
2020-12-30,Wednesday,False,Wednesday,221.2770,221.6740,217.5950,217.8020,2.063381e+07
2020-12-29,Tuesday,False,Tuesday,222.3500,223.2140,219.6590,220.2050,1.771353e+07
2020-12-28,Monday,False,Monday,220.5040,222.0710,219.1230,221.0100,1.825327e+07
2020-12-24,Thursday,False,Thursday,217.5450,219.6890,217.3260,218.8550,1.073870e+07
...,...,...,...,...,...,...,...,...
2010-01-08,Friday,False,Friday,23.7837,24.2642,23.7608,24.0934,6.515561e+07
2010-01-07,Thursday,False,Thursday,24.0537,24.1232,23.7221,23.9257,6.434577e+07
2010-01-06,Wednesday,False,Wednesday,24.2642,24.4230,23.9852,24.1758,7.403254e+07
2010-01-05,Tuesday,False,Tuesday,24.2542,24.4389,24.0765,24.3267,6.331174e+07
2010-01-04,Monday,False,Monday,24.0854,24.4389,24.0358,24.3178,4.886916e+07

In [55]:
stocks[stocks["Is Start of Month"]]

,Days of Week,Is Start of Month,Day of Week,Open,High,Low,Close,Volume
Date,,,,,,,,
2020-12-01,Tuesday,True,Tuesday,210.7540,213.5230,209.6020,212.4220,3.148286e+07
2020-10-01,Thursday,True,Thursday,209.1950,209.6820,207.0900,208.2030,2.771505e+07
2020-09-01,Tuesday,True,Tuesday,220.9700,222.8960,219.9170,222.7170,2.631985e+07
2020-07-01,Wednesday,True,Wednesday,198.5920,201.7210,197.2420,200.1020,3.279741e+07
2020-06-01,Monday,True,Monday,178.4290,178.8860,177.3870,178.7180,2.318935e+07
...,...,...,...,...,...,...,...,...
2010-07-01,Thursday,True,Thursday,18.1428,18.3235,17.8589,18.1964,1.173523e+08
2010-06-01,Tuesday,True,Tuesday,20.0906,20.6763,20.0559,20.3438,9.687786e+07
2010-04-01,Thursday,True,Thursday,23.0619,23.2089,22.4861,22.9120,9.513903e+07
2010-03-01,Monday,True,Monday,22.6053,22.8277,22.4196,22.8048,5.570803e+07
2010-02-01,Monday,True,Monday,22.3144,22.3809,21.9382,22.3234,1.092082e+08

# The pd.DateOffset Object

In [56]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [57]:
stocks = data.DataReader(name ="MSFT", data_source ="stooq", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07

In [58]:
stocks["High"]

Date
2020-12-31    219.1040
2020-12-30    221.6740
2020-12-29    223.2140
2020-12-28    222.0710
2020-12-24    219.6890
                ...
2010-01-08     24.2642
2010-01-07     24.1232
2010-01-06     24.4230
2010-01-05     24.4389
2010-01-04     24.4389
Name: High, Length: 2769, dtype: float64

In [59]:
stocks.index + pd.DateOffset(days = 5)

DatetimeIndex(['2021-01-05', '2021-01-04', '2021-01-03', '2021-01-02',
               '2020-12-29', '2020-12-28', '2020-12-27', '2020-12-26',
               '2020-12-23', '2020-12-22',
               ...
               '2010-01-20', '2010-01-19', '2010-01-18', '2010-01-17',
               '2010-01-16', '2010-01-13', '2010-01-12', '2010-01-11',
               '2010-01-10', '2010-01-09'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [60]:
stocks.index - pd.DateOffset(days = 5)

DatetimeIndex(['2020-12-26', '2020-12-25', '2020-12-24', '2020-12-23',
               '2020-12-19', '2020-12-18', '2020-12-17', '2020-12-16',
               '2020-12-13', '2020-12-12',
               ...
               '2010-01-10', '2010-01-09', '2010-01-08', '2010-01-07',
               '2010-01-06', '2010-01-03', '2010-01-02', '2010-01-01',
               '2009-12-31', '2009-12-30'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [62]:
stocks.index = stocks.index - pd.DateOffset(days = 5)

In [63]:
stocks.index + pd.DateOffset(weeks = 2)

DatetimeIndex(['2021-01-04', '2021-01-03', '2021-01-02', '2021-01-01',
               '2020-12-28', '2020-12-27', '2020-12-26', '2020-12-25',
               '2020-12-22', '2020-12-21',
               ...
               '2010-01-19', '2010-01-18', '2010-01-17', '2010-01-16',
               '2010-01-15', '2010-01-12', '2010-01-11', '2010-01-10',
               '2010-01-09', '2010-01-08'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [64]:
stocks.index - pd.DateOffset(weeks = 2)

DatetimeIndex(['2020-12-07', '2020-12-06', '2020-12-05', '2020-12-04',
               '2020-11-30', '2020-11-29', '2020-11-28', '2020-11-27',
               '2020-11-24', '2020-11-23',
               ...
               '2009-12-22', '2009-12-21', '2009-12-20', '2009-12-19',
               '2009-12-18', '2009-12-15', '2009-12-14', '2009-12-13',
               '2009-12-12', '2009-12-11'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [65]:
stocks.index + pd.DateOffset(months = 3)

DatetimeIndex(['2021-03-21', '2021-03-20', '2021-03-19', '2021-03-18',
               '2021-03-14', '2021-03-13', '2021-03-12', '2021-03-11',
               '2021-03-08', '2021-03-07',
               ...
               '2010-04-05', '2010-04-04', '2010-04-03', '2010-04-02',
               '2010-04-01', '2010-03-29', '2010-03-28', '2010-03-27',
               '2010-03-26', '2010-03-25'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [66]:
stocks.index - pd.DateOffset(months = 5)

DatetimeIndex(['2020-07-21', '2020-07-20', '2020-07-19', '2020-07-18',
               '2020-07-14', '2020-07-13', '2020-07-12', '2020-07-11',
               '2020-07-08', '2020-07-07',
               ...
               '2009-08-05', '2009-08-04', '2009-08-03', '2009-08-02',
               '2009-08-01', '2009-07-29', '2009-07-28', '2009-07-27',
               '2009-07-26', '2009-07-25'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [67]:
stocks.index + pd.DateOffset(years = 1)

DatetimeIndex(['2021-12-21', '2021-12-20', '2021-12-19', '2021-12-18',
               '2021-12-14', '2021-12-13', '2021-12-12', '2021-12-11',
               '2021-12-08', '2021-12-07',
               ...
               '2011-01-05', '2011-01-04', '2011-01-03', '2011-01-02',
               '2011-01-01', '2010-12-29', '2010-12-28', '2010-12-27',
               '2010-12-26', '2010-12-25'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [68]:
stocks.index - pd.DateOffset(years = 1)

DatetimeIndex(['2019-12-21', '2019-12-20', '2019-12-19', '2019-12-18',
               '2019-12-14', '2019-12-13', '2019-12-12', '2019-12-11',
               '2019-12-08', '2019-12-07',
               ...
               '2009-01-05', '2009-01-04', '2009-01-03', '2009-01-02',
               '2009-01-01', '2008-12-29', '2008-12-28', '2008-12-27',
               '2008-12-26', '2008-12-25'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [69]:
stocks.index + pd.DateOffset(years = 1, months = 3, days = 10, hours = 6, minutes = 2)

DatetimeIndex(['2022-03-31 06:02:00', '2022-03-30 06:02:00',
               '2022-03-29 06:02:00', '2022-03-28 06:02:00',
               '2022-03-24 06:02:00', '2022-03-23 06:02:00',
               '2022-03-22 06:02:00', '2022-03-21 06:02:00',
               '2022-03-18 06:02:00', '2022-03-17 06:02:00',
               ...
               '2011-04-15 06:02:00', '2011-04-14 06:02:00',
               '2011-04-13 06:02:00', '2011-04-12 06:02:00',
               '2011-04-11 06:02:00', '2011-04-08 06:02:00',
               '2011-04-07 06:02:00', '2011-04-06 06:02:00',
               '2011-04-05 06:02:00', '2011-04-04 06:02:00'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [70]:
stocks.index - pd.DateOffset(years = 1, months = 3, days = 10, hours = 6, minutes = 2)

DatetimeIndex(['2019-09-10 17:58:00', '2019-09-09 17:58:00',
               '2019-09-08 17:58:00', '2019-09-07 17:58:00',
               '2019-09-03 17:58:00', '2019-09-02 17:58:00',
               '2019-09-01 17:58:00', '2019-08-31 17:58:00',
               '2019-08-28 17:58:00', '2019-08-27 17:58:00',
               ...
               '2008-09-24 17:58:00', '2008-09-23 17:58:00',
               '2008-09-22 17:58:00', '2008-09-21 17:58:00',
               '2008-09-20 17:58:00', '2008-09-18 17:58:00',
               '2008-09-17 17:58:00', '2008-09-16 17:58:00',
               '2008-09-15 17:58:00', '2008-09-14 17:58:00'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [71]:
stocks.index + pd.DateOffset(years = 1, months = 3, days = 10, hours = 6, minutes = 2, seconds = 26)

DatetimeIndex(['2022-03-31 06:02:26', '2022-03-30 06:02:26',
               '2022-03-29 06:02:26', '2022-03-28 06:02:26',
               '2022-03-24 06:02:26', '2022-03-23 06:02:26',
               '2022-03-22 06:02:26', '2022-03-21 06:02:26',
               '2022-03-18 06:02:26', '2022-03-17 06:02:26',
               ...
               '2011-04-15 06:02:26', '2011-04-14 06:02:26',
               '2011-04-13 06:02:26', '2011-04-12 06:02:26',
               '2011-04-11 06:02:26', '2011-04-08 06:02:26',
               '2011-04-07 06:02:26', '2011-04-06 06:02:26',
               '2011-04-05 06:02:26', '2011-04-04 06:02:26'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

# Timeseries Offsets

In [72]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [73]:
stocks = data.DataReader(name ="MSFT", data_source ="stooq", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07

In [75]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2021-01-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31',
               ...
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [76]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30',
               ...
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [77]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01',
               ...
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [78]:
stocks.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01',
               ...
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [79]:
from pandas.tseries import offsets

In [81]:
stocks.index + offsets.MonthEnd()

DatetimeIndex(['2021-01-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31',
               ...
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [82]:
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2021-01-29', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31',
               ...
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [83]:
stocks.index - offsets.BMonthEnd()

DatetimeIndex(['2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30',
               ...
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [84]:
stocks.index + offsets.YearEnd()

DatetimeIndex(['2021-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31',
               ...
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [85]:
stocks.index - offsets.YearEnd()

DatetimeIndex(['2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31',
               ...
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [86]:
stocks.index + offsets.YearBegin()

DatetimeIndex(['2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01',
               ...
               '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [87]:
stocks.index - offsets.YearBegin()

DatetimeIndex(['2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01',
               ...
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

# The Timedelta Object

In [ ]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [88]:
stocks = data.DataReader(name ="MSFT", data_source ="stooq", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07

In [89]:
time_a = pd.Timestamp("2020-03-31")
time_b = pd.Timestamp("2020-03-20")
time_a - time_b

Timedelta('11 days 00:00:00')

In [90]:
time_b - time_a

Timedelta('-11 days +00:00:00')

In [91]:
pd.Timedelta(days = 3)

Timedelta('3 days 00:00:00')

In [95]:
pd.Timedelta(days = 3, minutes = 45)

Timedelta('3 days 00:45:00')

In [93]:
pd.Timedelta(days = 3, minutes = 45, seconds = 45)

Timedelta('3 days 00:45:45')

In [94]:
pd.Timedelta(weeks = 8, days = 3, hours = 5, minutes = 45, seconds = 45)

Timedelta('59 days 05:45:45')

In [96]:
pd.Timedelta("5 minutes")

Timedelta('0 days 00:05:00')

In [97]:
pd.Timedelta("6 hours 5 minutes")

Timedelta('0 days 06:05:00')

In [98]:
pd.Timedelta("14 days 6 hours 5 minutes 32 seconds")

Timedelta('14 days 06:05:32')

# Timedeltas in a Dataset

In [99]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [100]:
stocks = data.DataReader(name ="MSFT", data_source ="stooq", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07

In [105]:
shipping = pd.read_csv("C:\\Users\\Carlos.Villarreal\\Documents\\Python Pandas Course\\data\\ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [106]:
shipping["delivery_date"] - shipping["order_date"]

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
         ...
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [109]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [110]:
shipping["delivery_date"] + shipping["Delivery Time"]

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
         ...
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]

In [111]:
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]
shipping.head(3)

   order_date delivery_date Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [112]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice As Long     datetime64[ns]
dtype: object

In [113]:
shipping["Delivery Time"] > "365 days"

ID
1      False
2       True
4       True
5       True
7       True
       ...
990     True
991     True
993     True
994    False
997     True
Name: Delivery Time, Length: 501, dtype: bool

In [114]:
mask = shipping["Delivery Time"] > "365 days"
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [115]:
mask = shipping["Delivery Time"]== "3423 days"
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
130 1990-04-02    1999-08-16     3423 days    2008-12-29

In [116]:
shipping["Delivery Time"].min()

Timedelta('8 days 00:00:00')

In [117]:
shipping["Delivery Time"].max()

Timedelta('3583 days 00:00:00')